:root {
  /* Layout */
  --header-width: 1280px;
  --header-height: 58px;
  --content-width: 1024px;

  /* Breakpoints */
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;

  /* Palette */
  --color-1: #0a0816;
  --color-2: #19162d;
  --color-3: #4f58d0;
  --color-3-dark: #1e2694;
  --color-4: #f4f7fa;
  --color-5: #56bb98;
  --color-6: #d4d4d4;
  --color-6-light: #d4d4d420;
  --color-7: #e76a6a;
}
